.about {
  height: 140vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about .section-about {
  text-align: center;
}

.about h3 {
  color: rgb(0, 0, 0);
  font-size: 40px;
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 5px;
  text-underline-offset: 15px;
}

.about .about-content {
  flex-direction: row;
  margin-top: 70px;
  max-width: 600px;
}
.about p {
  color: white;
  text-align: center;
}
